html {
font-family: "Overpass", sans-serif;
background-color: #ff9500;
color: #f1f1f1;
}


.break {
  border-bottom: 3px solid rgba(255, 255, 255, .3);
}

body {
  background-image: linear-gradient(to bottom, rgba(255, 225, 225, 0), rgba(255, 0, 0, 1));

}

.bg {
background-image: linear-gradient(to bottom, #ff9500, #ff5e3a);
}

h1,
h2,
p {
color: #fff;
}

.btn {
color: #fff;
border: 3px solid rgba(255, 255, 255, .7);
}

.btn:hover {
color: #ff5e3a;
background-color: #fff;
border: 3px solid #fff;
}

.icon {
color: #fff;
}

.unit:nth-child(3) {
border-bottom: none;
}

@media only screen and (min-width: 60em) {

.break {
  border-right: 3px solid rgba(255, 255, 255, .3);
  border-bottom: none;
  }

}
