html {
font-family: "Overpass", sans-serif;
background-color: #ff9500;
color: #f1f1f1;
}

.btn {
  color: #f1f1f1;
  border-color: #f1f1f1;
}

.btn:hover {
  color: rgba(255, 0, 0, 0.5);
}

hr {
  color: #f1f1f1;
}

svg {
  color: red;
  fill: none;
  stroke: none;
  height: 90%;
}

@media only screen and (min-width: 60em) {

    body {
    background-image: linear-gradient(to bottom, rgba(255,225,225,0), rgba(255,0,0,1));

}
