html {
font-family: "Overpass", sans-serif;
background-color: orange;
}

.ship1 {
  fill: #94d31b;
  max-height: 50%;
}
.ship1:hover {
  fill: #ace63c;
}

.shipp3 {
  width: 100%;
  height: 100%;
}

.icon {
  width: 50%;
  height: 50%;
}

.cola {
  width: 50%;
  height: 50%;
}
